
.nav-icon {
    font-size: 24px;
}

.blog-content {
    margin-top: 40px;
    margin-bottom: 40px;
}

.article-list {
    margin-bottom: 40px;
}

.article-list > h2 {
    text-align: center!important;
}

#disqus_thread {
    margin-top: 40px;
}

.copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    color: #aaa;
    margin-bottom: 5px;
}

.header-text {
    text-align: center!important;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 60px;
}

.header-text h1 {
    font-size: 40px;
}

.header-text span {
    font-size: 24px;
}
